#hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;
    background: linear-gradient(327.21deg, rgba(33, 0, 75, 0.24) 3.65%, rgba(60, 0, 136, 0) 40.32%),
 linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(58, 19, 255, 0) 29.79%,
  rgba(98, 19, 255, 0.01) 85.72%), #13111C;
  color: #ffffff;
}

#navbar{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navCenter{
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

#navWrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navWrap ul{
    display: flex;
    gap:1rem
}

#navWrap ul li a{
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
}

#navWrap ul li a:hover{
    color: purple;
}

#burger{
    width: 25px;
    height: 25px;
    display: none;
}

#socialIcons{
    display: flex;
    gap:1rem;
}

.socialIcon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border-radius: 50px;
    cursor: pointer;
}

.socialIcon img{
    width: 15px;
    height: 15px;
}

#heroOther{
    position: absolute;
    bottom:30%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 50px;
}

#heroOther h5{
   font-size: 8rem;
   font-weight: bold;
}

#heroOtherBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#heroOtherBottom p{
    font-size: 1.2rem;
    line-height:45px;
    width: 45%;
    text-align: left;
    color: #ffffff;
}

#heroBtn{
    display:flex;
    gap:2rem;
    width: 17%;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    background-color:#2F1847;
    outline: none;
}

#heroBtn:hover{
    background-color: #2F1847;
}

#heroBtn span{
    font-size: 1.2rem;
}

#heroBtn img{
    width: 25px;
    height: 25px;
}

#navMobile{
    display: none;
}

@media (max-width: 768px) {
    #navMobile{
        position: fixed;
        top: 0;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        z-index: 3;
        flex-direction: column;
        background-color: #2F1847;
        color: #ffffff;
        padding-top: 1rem;
    }

    #navMobile header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-bottom: 20%;
    }

    #navMobile header h1{
        font-size: 1.4rem;
        font-weight: bold;
        color: #ffffff;
    }

    #navMobile header img{
       width: 15px;
       height: 15px;
    }

    #burger{
        width: 18px;
       height: 18px;
    }

    #navMobile ul{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #navMobile ul li a{
       font-size: 2.2rem;
       color: #ffffff;
    }
}

@media (min-width: 250px) and (max-width: 360px){
    #hero{
        height: 750px;
    }
     #navWrap ul,#socialIcons{
        display: none;
    }

    #burger{
        display: block;
    }

    #heroOther{
        bottom:25%;
        width: 100%;
        gap: 2rem;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }
    
    #heroOther h5{
       font-size: 2.2rem;
       line-height: 2.5rem;
    }
    
    #heroBtn{
        gap:0.8rem;
        width: 85%;
        border-radius: 40px;
        padding: 10px;
    }

    #heroBtn span{
        font-size: 0.8rem;
    }
    
    #heroBtn img{
        width: 17px;
        height: 17px;
    }

    #heroOtherBottom{
        justify-content:center;
        align-items: center;
        width: 90%;
        flex-direction: column;
        gap: 1.5rem;
    }

    #heroOtherBottom p{
        font-size: 0.8rem;
        line-height:20px;
        width: 90%;
        text-align: center;
    }
}

@media (min-width: 361px) and (max-width: 480px){
    #hero{
        height: 800px;
    }
    #navWrap ul,#socialIcons{
       display: none;
   }

   #burger{
       display: block;
   }

   #heroOther{
       bottom:25%;
       width: 100%;
       gap: 2rem;
       padding: 50px;
       justify-content: center;
       align-items: center;
   }
   
   #heroOther h5{
      font-size: 3.2rem;
      line-height: 3.5rem;
   }
   
   #heroBtn{
       gap:0.8rem;
       width: 70%;
       border-radius: 40px;
       padding: 10px;
   }

   #heroBtn span{
       font-size: 0.8rem;
   }
   
   #heroBtn img{
       width: 17px;
       height: 17px;
   }

   #heroOtherBottom{
       justify-content:center;
       align-items: center;
       width: 90%;
       flex-direction: column;
       gap: 1.5rem;
   }

   #heroOtherBottom p{
       font-size: 0.8rem;
       line-height:25px;
       width: 90%;
       text-align: center;
   }
}

@media (min-width: 481px) and (max-width: 680px){
    #Hero{
        height: 500px;
    }

    #navWrap ul,#socialIcons{
       display: none;
   }

   #burger{
       display: block;
   }

   #heroOther{
       bottom:25%;
       width: 100%;
       gap: 2rem;
       padding: 50px;
       justify-content: center;
       align-items: center;
   }
   
   #heroOther h5{
      font-size: 4.5rem;
      line-height: 5rem;
   }
   
   #heroBtn{
       gap:0.8rem;
       width:55%;
       border-radius: 40px;
       padding: 10px;
   }

   #heroBtn span{
       font-size: 0.9rem;
   }
   
   #heroBtn img{
       width: 18px;
       height: 18px;
   }

   #heroOtherBottom{
       justify-content:center;
       align-items: center;
       width: 90%;
       flex-direction: column;
       gap: 1.5rem;
   }

   #heroOtherBottom p{
       font-size: 0.9rem;
       line-height:30px;
       width: 90%;
       text-align: center;
   }
}

@media (min-width: 681px) and (max-width: 768px){
    #hero{
        height: 750px;
    }

    #navWrap ul,#socialIcons{
       display: none;
   }

   #burger{
       display: block;
   }

   #heroOther{
       bottom:25%;
       width: 100%;
       gap: 4rem;
       padding: 55px;
       justify-content: center;
       align-items: center;
   }
   
   #heroOther h5{
      font-size: 5.3rem;
      line-height: 5rem;
   }
   
   #heroBtn{
       gap:0.5rem;
       width: 35%;
       border-radius: 40px;
       padding: 10px;
   }

   #heroBtn span{
       font-size: 0.9rem;
   }
   
   #heroBtn img{
       width: 20px;
       height: 20px;
   }

   #heroOtherBottom{
       justify-content:center;
       align-items: center;
       width: 90%;
       flex-direction: column;
       gap: 3rem;
   }

   #heroOtherBottom p{
       font-size: 0.9rem;
       line-height:30px;
       width: 90%;
       text-align: center;
   }
}

@media (min-width: 769px) and (max-width: 1024px){
  
    #hero{
        height: 800px;
    }

   #heroOther{
       bottom:30%;
       width: 100%;
       gap: 4rem;
       padding: 50px;
       justify-content: center;
       align-items: center;
   }
   
   #heroOther h5{
      font-size: 3.5rem;
   }

#heroOtherBottom p{
    font-size: 0.9rem;
    line-height:25px;
    width: 50%;
    text-align: left;   
}

#heroBtn{
    gap:1rem;
    width: 30%;
    border-radius: 40px;
    padding: 10px;
}

#heroBtn span{
    font-size:0.8rem;
}

#heroBtn img{
    width: 17px;
    height: 17px;
}
#navWrap ul{
    gap:0.6rem
}

#navWrap ul li a{
    font-size: 0.8rem;
}

#navCenter{
    font-size: 2rem;
}

}

@media (min-width: 1025px) and (max-width: 1280px){
    #hero{
        height: 800px;
    }
   #heroOther{
    bottom:35%;
    gap: 3.7rem;
}
    #heroOther h5{
        font-size: 3.8rem;
        line-height:6rem;
     }

     #heroOtherBottom p{
        font-size: 0.9rem;
        line-height:25px;
    }

    #heroBtn{
        gap:1rem;
        width: 30%;
        border-radius: 40px;
        padding: 10px;
    }
    
    #heroBtn span{
        font-size:0.9rem;
    }
    
    #heroBtn img{
        width: 16px;
        height: 16px;
    }
}

@media (min-width: 1281px) and (max-width: 1440px){
    
    #heroOther{
     bottom:30%;
     gap: 5rem;
    }

     #heroOther h5{
         font-size: 5rem;
      }
 
      #heroOtherBottom p{
         font-size: 1.1rem;
         line-height:35px;
     }
 
     #heroBtn{
         gap:1.1rem;
         width: 20%;
         border-radius: 40px;
         padding: 10px;
     }
     
     #heroBtn span{
         font-size:0.9rem;
     }
     
     #heroBtn img{
         width: 18px;
         height: 18px;
     }
 }

 @media (min-width: 1441px) and (max-width: 1822px){
    
    #heroOther{
     bottom:29%;
     gap: 5rem;
    }

    #heroOther h5{
        font-size:6rem;
        font-weight: bold;
     }
 
      #heroOtherBottom p{
         font-size: 1.1rem;
         line-height:35px;
     }
 
     #heroBtn{
         gap:1.1rem;
         width: 20%;
         border-radius: 40px;
         padding: 10px;
     }
     
     #heroBtn span{
         font-size:0.9rem;
     }
     
     #heroBtn img{
         width: 18px;
         height: 18px;
     }
 }